<ng-container >
  <app-nav-bar></app-nav-bar>
</ng-container>

<ng-container *ngIf="!submitted">
  <div class="example-container">
    <form class="example-container__form" [formGroup]="singUpForm">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input
        matInput
        placeholder="First Name"
        formControlName="firstName"
        required
        />
        <mat-error *ngIf="singUpForm.controls['firstName'].hasError('required')">
          <span>First Name are required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input
        matInput
        placeholder="Last Name"
        formControlName="lastName"
        required
        />
        <mat-error *ngIf="singUpForm.controls['lastName'].hasError('required')">
          <span>Last Name are required</span>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="mail"
          required
        />
        <mat-error *ngIf="singUpForm.controls['mail'].hasError('required')">Mail Required</mat-error>
        <mat-error *ngIf="singUpForm.controls['mail'].hasError('mail')">
          Enter a valid email address!
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
        type="password"
        matInput
        placeholder="Enter Password"
        formControlName="password"
        required
        />
        <mat-error *ngIf="singUpForm.controls['password'].hasError('required')">
          Your password must have lower case, upper case, special characters and number.
        </mat-error>
        <mat-error class="text-danger" *ngIf="singUpForm.controls['password'].hasError('NoFirstOrLastName')">
          Password can't contain First or Last Name
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input
        type="password"
        matInput
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        required
        />
        <mat-error *ngIf="singUpForm.controls['confirmPassword'].hasError('required')">
          Password required
        </mat-error>
        <mat-error class="text-danger" *ngIf="singUpForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
          Password do not match
        </mat-error>
      </mat-form-field>
    </form>

    <button mat-button style="max-width: 50px; margin: auto;" [disabled]="singUpForm.invalid" (click)="save()" color="primary">Primary</button>
  </div>
</ng-container>

<ng-container *ngIf="submitted">
  <app-success></app-success>
</ng-container>



